<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="public/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>ZaZ 965</title>
</head>
<body>
        <script src="/public/js/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <%include blocks/header.ejs%>

<br><br>
<aside id="box" v-show="show"  transition="slide" class="boxx" style="background-image: url(http://aslania.com/wp-content/uploads/2018/03/black-background-wallpaper-4.jpg)"> 
    Во второй половине 1950-х годов уровень жизни
    населения СССР стал быстро расти: увеличивались доходы, началось массовое строительство жилья, значительно
     расширились ассортимент и объёмы выпуска товаров народного потребления. Между тем, основным видом 
     индивидуального транспорта в стране оставался двухколёсный — личные автомобили имели очень небольшое 
     распространение по сравнению с Западной Европой, где в то время уже начиналась массовая автомобилизация. 
     На этом фоне встал вопрос о массовом выпуске компактного и доступного автомобиля для продажи в личное 
     пользование — лёгкого, рассчитанного на двух-четырёх человек, недорогого, простого в производстве, 
     удобного и экономичного в эксплуатации. Данная тема стала предметом широкой "общественной дискуссии", 
     активно обсуждалась в печати тех лет.<img class="pic1" src="public/img/1.jpg">
   Бывшая из серийных советских «легковушек» наиболее близкой к приведённой выше характеристике модель — 
   «Москвич-401» — к тому времени успела основательно устареть, а в 1956 году была снята с производства. 
   Следующая модель МЗМА — «Москвич-402» — оказалась ощутимо крупнее, мощнее и комфортабельнее своего 
   предшественника, но при этом и существенно дороже (розничная цена — 15 000 рублей, против 9000 у М-401; 
   появившийся несколько лет спустя М-407 стоил уже 25 000 рублей). Кроме того, достижения автомобилестроения 
   тех лет позволяли сделать автомобиль с сопоставимыми со старой моделью «Москвича» вместимостью и 
   динамическими качествами намного более компактным, лёгким и рациональным.
   
   В соответствии с этим, в перспективный типаж легковых автомобилей, запланированных для освоения в период 
   1959—1965 годов, органами государственного экономического планирования был внесён тип четырёхместного 
   микролитражного автомобиля «сухой» массой около 600 кг и с двигателем мощностью 20-25 л. с.[1] Он должен 
   был иметь современную и рациональную конструкцию, быть удобным для массового производства, рассчитан на 
   достаточно длительную эксплуатацию в отечественных условиях и обслуживание главным образом силами самого 
   владельца. Работы по проектированию автомобиля осуществлялись МЗМА («Москвич») совместно с автомобильным 
   институтом НАМИ.
   <img class="pic2" src="public/img/2.jpg">
   Изучение опыта мирового автомобилестроения уже на тот момент позволяло прийти ко вполне однозначному выводу:
    микролитражка не может быть просто уменьшенной копией своих «больших собратьев». Необходимо напомнить, что 
     то время большинство автомобилей имело двигатель спереди и задний ведущий мост — так называемая 
     «классическая компоновка». Однако для машины размером с будущий «Запорожец» она была явно нерациональна, 
     так как ограничивала полезное пространство салона, увеличивала габаритную высоту, себестоимость и массу 
     автомобиля из-за наличия проходящего под полом кузова карданного вала. Все попытки выпуска автомобилей 
     «классической» компоновки в «особо малом» классе неизбежно заканчивались появлением на свет высоких, 
     тяжёлых, маловместительных и довольно неуклюжих внешне конструкций. Избавиться от этих недостатков можно 
     было, сблокировав двигатель и трансмиссию в единый агрегат и разместив его непосредственно у ведущих колёс
      — передних либо задних.
  
   От привода на переднюю ось разработчики 
   также отказались: принятые в те годы компоновочные схемы переднеприводных автомобилей предполагали либо 
   размещение двигателя за передней осью, продольно или поперечно (довоенные DKW, Citroën TA и DS, Renault 4)
    — в результате чего из-за недостаточной сцепной массы на ведущих колёсах не обеспечивались приемлемые для
     отечественных условий эксплуатации тягово-сцепные качества и проходимость, либо его продольное
      расположение в переднем свесе кузова (послевоенные DKW и Wartburg, Citroën 2CV, Panhard, Lloyd, 
      Saab 93 и другие) — что приводило к созданию сравнительно длинных и тяжёлых автомобилей с довольно
       большим передним свесом. Кроме того, он был непривычен для производственников и автомобилистов,
        требовал освоения сложных и дорогих в изготовлении компактных шарниров равных угловых скоростей. 
        Переднеприводные автомобили имели в те годы относительно небольшое распространение, причём только в 
        Западной Европе с характерными для неё хорошими дорогами. Бо́льшая же часть микролитражных автомобилей 
        строилась на основе заднемоторной компоновки, недостатки которой при характерных для микролитражек тех
         лет скоростях проявлялись лишь в малой степени. Именно на ней решили остановиться и создатели
          отечественного микроавтомобиля.
          <img class="pic2" src="public/img/3.jpg">
   Созданию «Запорожца» предшествовала разработка целого ряда прототипов, разработка и постройка которых 
   дали возможность определиться с требованиями к автомобилю этого класса, отработать отдельные элементы 
   конструкции и дизайна — здесь можно назвать такие разработки, как «Белка» ИМЗ-НАМИ-А50 1955 года 
   (вагонная компоновка) и разработанные на протяжении 1957—1958 годов НАМИ-031 (купе с торсионной передней 
   подвеской), НАМИ-048 (вагонная компоновка), НАМИ-049 (прототип лёгкого вездехода) и НАМИ-059 
   (стеклопластиковый кузов). Например, осенью 1955 году был построен опытный экземпляр очень самобытной
    «Белки» НАМИ-050 вагонной компоновки (автор концепции — Юрий Долматовский), имевшей длину чуть более 
    3,3 метра, заднее расположение силового агрегата, достаточно просторный салон (правда, за счёт практически
     отсутствовавшего багажника) и переднюю часть кузова, выполненную в виде остеклённого колпака,
      откидывающегося вперёд-вниз для посадки на передние сиденья. Существовал и «сельский» вариант с 
      упрощённым открытым кузовом (дизайнер Эдуард Молчанов). Многие из этих автомобилей демонстрировали
       смелость и оригинальность конструкторской мысли, имели множество нешаблонных конструктивных, 
       технологических и дизайнерских решений.
   Однако «Белка» была ещё очень «сырой»,
    причём целый ряд её недостатков носил неустранимый характер — в первую очередь проблемы с герметичностью 
    салона из-за откидного передка кузова, а также слабый и недолговечный мотоциклетный двигатель
     (на базе ИМЗ-М-72). Довести её до уровня полноценного серийного автомобиля, с соответствующими
      надёжностью и отработанностью конструкции, так и не удалось. К тому же, хотя в те годы об этом 
      вопросе ещё серьёзно не задумывались, но пассивная безопасность автомобиля такой схемы также была
       бы очень низка (сам Долматовский считал данную проблему малосущественной, полагая, что снижение 
       пассивной безопасности будет компенсироваться высокой активной безопасностью, обусловленной хорошей 
       обзорностью с места водителя и лёгким управлением микролитражкой; эти аргументы даже в те годы убеждали 
       алеко не всех). Остальные прототипы также были по сути экспериментальными образцами, призванными 
       «нащупать» путь для дальнейших работ (например, на НАМИ-031 прорабатывалась конструкция торсионной
        передней подвески).
        <img class="pic1" src="public/img/4.jpg">
   Главное же — стало ясно, что микролитражный автомобиль будет принципиально отличаться от уже освоенных в 
   производстве моделей не только по конструктивным решениям, но и по технологии производства, в первую 
   очередь самой сложной в изготовлении, наиболее дорогостоящей и трудоёмкой детали — несущего кузова. 
    Выпускавшиеся на тот момент советские легковые автомобили с несущим кузовом имели кузова так называемого
     скелетного типа, сваривавшиеся из большого количества панелей и накладных усилителей, с установленной в
      передней части отдельной подмоторной рамой (подрамником) и навесным оперением, не играющим существенной
       роли в обеспечении жёсткости кузова. Так, в процессе сборки корпуса кузова «Волги» ГАЗ-21 раннего
        выпуска (до 1961 года) он последовательно перемещался между четырьмя сварочными кондукторами, 
        в которых осуществлялось сваривание несколько десятков отдельных деталей (одна только боковина кузова
         сваривалась из пяти частей — передней, задней и центральной стоек, порога пола и рейки крыши, швы 
         между которыми вручную облуживались припоем), после чего к нему болтами крепились рама и оперение. 
         Будучи пригодной для автомобилей более высоких классов со сравнительно небольшими масштабами выпуска, 
         акая технология изготовления кузова категорически не годилась для микролитражки, рассчитанной на 
         массовый выпуск с низкой себестоимостью каждого экземпляра, которая при таком подходе получилась бы
          излишне тяжёлой и трудоёмкой в производстве из-за большого объёма операций по сборке, многие из 
          которых выполнялись вручную и требовали взаимных подгонок деталей. Здесь были необходимы новые, 
          оригинальные и высокоэффективные решения не только в конструкции, но и в области технологии 
          производства. Для советской промышленности тех лет же создание «с нуля» и в приемлемые сроки 
          технологического оформления для такого принципиально нового промышленного образца было бы весьма 
          непростой задачей — сказывалось не только отсутствие опыта выпуска микроавтомобилей, но и общее
           отставание от уровня передовых промышленных стран.
   К этому добавлялись и соображения экономического характера: обеспечить низкую себестоимость микролитражки с 
   достаточно сложной по меркам тех лет конструкцией можно было только за счёт хорошей отработанности и высокой 
   эффективности производственного процесса — в противном случае будущая советская микролитражка рисковала 
   повторить судьбу многих иностранных, которые из-за мизерных масштабов выпуска и сопутствующей им высокой
    себестоимости не оправдывали возложенных на них их создателями надежд, или первого советского проекта
     малолитражного автомобиля, созданного в 1920-х годах НАМИ-1, который при в целом вполне удачной конструкции
      так и не получил развития опять же ввиду высокой себестоимости и невозможности в тогдашних условиях 
      наладить мало-мальски массовое производство. При этом не могло быть и речи о закупке за рубежом готовой 
      конструкции автомобиля вместе с отработанной технологией его выпуска (как это впоследствии было сделано 
      с ВАЗ-2101),  либо заказе иностранной фирме технологического оформления для существующего отечественного
       образца (как в случае с ВАЗ-2108) — СССР конца 1950-х годов, всё ещё оправлявшемуся от ущерба, нанесённого 
       войной, и ещё не ставшему заметным экспортёром нефти, подобные покупки на международном рынке были попросту
        «не по карману» из-за отсутствия достаточного объёма свободных средств в валютных фондах.
   Именно наличие подобных соображений, а не отсутствие собственных оригинальных идей в области компоновки, 
   конструкции или дизайна, вынудило создателей автомобиля обратиться к изучению иностранных аналогов, 
   причём основном внимание обращалось именно на вопросы технологического характера.
  </aside>


<div class="col-md-12 bottom" v-show="show"  transition="slide" >Все права защищены Зазоводами 2018</div>
</div>

<script src="/public/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>